<ng-container *ngIf="config$ | async; let config">
    <h1>{{config.description}}</h1>
    <ng-container *ngFor="let section of config.sections">
        <div class="section-separator"></div>
        <div class="category">
            <label for="category" class="section-name">{{section.name}}</label>
            <ng-container *ngFor="let category of section.categories" id="category">
                <div class="values">
                    <label for="values" class="category-name">-{{category.name}}</label>
                    <div>
                        <mat-form-field id="values" *ngFor="let value of category.values">
                            <label for="value">{{value.name}}</label>
                            <ng-container [ngSwitch]="value.availableValues !== undefined">
                                <ng-container *ngSwitchCase="true">
                                    <mat-select id="value" [value]="value.value">
                                        <mat-option *ngFor="let option of value.availableValues" [value]="option">{{option}}</mat-option>
                                    </mat-select>
                                </ng-container>
                                <ng-container *ngSwitchDefault>
                                    <input matInput type="{{value.valueType}}" step="1" id="value" [ngModel]="value.value"/>
                                </ng-container>
                            </ng-container>
                        </mat-form-field>
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-container>
</ng-container>
